/* Page background */
[data-testid="stAppViewContainer"] {
    background: linear-gradient(to bottom right, #dceefb, #f0f4f8);
}

/* Title */
[data-testid="stMarkdownContainer"] h1 {
    text-align: center;
    color: #0f7ae4;
    font-family: "Segoe UI", sans-serif;
}
/* h2 */
[data-testid="stMarkdownContainer"] h2 {
    text-align: left;
    color: #333333;
}
/* Description text */
[data-testid="stMarkdownContainer"] p {
    text-align: center;
    color: #333333;
    font-style: italic;
}
/* Oval tag */
.oval-tag {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007BFF;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
    background-color: #f0f8ff;
}

.tag-container {
    display: inline-flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 8px;
}